{% extends "base.html" %}

{% block content %}
  <h1>Shopping Cart</h1>
  {% if cart %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_products %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>     
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3"></td>
          <th>Subtotal:</th>
          <td>{{ cart.subtotal}}</td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'selectAddress' %}" class="btn btn-success btn-lg">Checkout</a>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
{% endblock %}
